.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
  height: 300px;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
  height: 300px;
}

.fighter-preview___info {
  margin: 0 auto;
}

.fighter-preview___info p {
  margin: 0;
  color: white;
}

.preview {
  margin: 0 auto;
}
